@import url("https://fonts.googleapis.com/css2?family=Fondamento&family=Inter:wght@300&display=swap");

body {
  width: 100vw;
  height: 100vh;
  background: url("assets/background.png");
  background-size: cover;
  font-family: "Inter", sans-serif;
}

h1,
h2,
h3 {
  font-family: "Fondamento", cursive;
  text-transform: uppercase;
  color: white;
}

.h1schedule {
  text-align: center;
  font-size: 50px;
}
.scheduleflex {
  font-size: 20px;
  display: flex;
  justify-content: space-evenly;
  border: 1px solid #ccc;
  margin: 5px;
  padding: 10px;
  opacity: 5;
}
.containerOne {
  display: flex;
  justify-content: left;
  flex-direction: column;
  color: white;
  font-weight: bold;
}

.containerTwo {
  display: flex;
  justify-content: right;
  flex-direction: column;
  color: white;
  font-weight: bold;
}

.box1,
.box2,
.box3,
.box4,
.box5,
.box6 {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  position: relative;
  border-bottom: 2px solid #ccc;
  line-height: 2;
}

.myschedulebuttons {
  display: flex;
}
