@import url("https://fonts.googleapis.com/css2?family=Fondamento&family=Inter:wght@300&display=swap");

body {
  width: 100vw;
  height: 100vh;
  background: url("assets/background.png");
  background-size: cover;
  font-family: "Inter", sans-serif;
  color: white;
  display: flex;
  flex-wrap: nowrap;
}

.artistContainer {
  height: 50vh;
  width: 100vw;
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  background-color: rgb(200, 163, 234);

  background-color: #1a504b8f;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.artistContents {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin: 20px;
}

.headerItem {
  font-family: "Inter", sans-serif;
  color: white;
}
.iconItem {
  max-width: 30px;
  max-height: 30px;
}
.imageItem {
  max-width: 250px;
  max-height: 200px;
}
.aboutItem {
  max-width: 25em;
  margin-right: 20px;
}
.listenItem {
  max-width: 250px;
  max-height: 300px;
}

.groupOne {
  justify-content: center;
  align-items: center;
  margin-right: 20px;
}

.heart {
  max-height: 20px;
}

.form {
  margin-left: 80px;
  padding-top: 20px;
  max-width: 50%;
}
