.h1schedule {
  text-align: center;
  font-size: 50px;
  color: #fff;
}

.artistHome {
  font-family: "Inter", sans-serif;
  color: white;
  scroll-behavior: smooth;
  z-index: 1;
  position: relative;
  background-color: rgb(201, 174, 219);
  overflow: scroll;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  margin: 20px;
  justify-content: space-evenly;
  text-align: center;
  width: 300px;
}

.artist-home {
  padding-top: 80px;
  height: auto;
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  position: relative;
  z-index: 1;
}

.scheduleflex {
  font-size: 20px;
  display: flex;
  justify-content: center; /* Centered content */
  border: 1px solid #ccc;
  margin: 20px; /* Adjusted margin */
  opacity: 5;
  width: 100%;
  flex-direction: column;
  align-items: center;
}

.containerOne {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around; /* Adjusted alignment */
  color: white;
  font-weight: bold;
  margin-top: 20px; /* Adjusted margin */
}

.scheduleItem {
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 10px;
  list-style-type: none;
}

.myschedulebuttons {
  display: flex;
  padding: 20px;
  justify-content: space-around;
}

button {
  padding: 10px;
  margin: 5px;
  cursor: pointer;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 5px;
}

button:hover {
  background-color: #45a049;
}
