/* body {
}

.left {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.right {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

ul {
  flex: 0 32%;
  height: 50px;
  margin-bottom: 2%; /* (100-32*3)/2 */
} */

.container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: normal;
  align-items: normal;
  align-content: normal;
}

.containerTwo {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: normal;
  align-items: normal;
  align-content: normal;
}

ul {
  display: block;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  align-self: auto;
  order: 0;
}
